<mat-card class="validation-self-card fancyMuliFont center-text">
        <h1>Selbst-Validierung</h1>
        <img class="validation-self-net" src="https://images.derstandard.at/img/2019/04/26/selbstbewusst_1.jpg?w=800&s=c301ed7f" alt="">
        <p>
            Bedeutet: Sich selbst wertzuschätzen. Sich selbst ernst zu nehmen, 
            nicht wertend zu sein, ermutigend und unterstützend zu sein, 
            die eigene Verletzlichkeit zu akzeptieren und entsprechend für
            sich zu sorgen.
        </p>
        <ul>
            <li>
                Sei interessiert an Dir selbst! Entdecke, wie Dein Körper sich anfühlt
                und was Du jetzt gerade denkst und fühlst.
            </li>
            <li>
                Akzeptiere ohne Einschränkungen, was Du gerade fühlst und denkst.
            </li>
            <li>
                Verhalte Dich gegenüber Dir selbst, Deinen Gedanken und Gefühlen so,
                als ob Du selbst ein guter Freund oder eine gute Freundin von Dir
                wärst.
            </li>
            <li>
                Bestätige und unterstütze Dich im Umgang mit Deinen Gefühlen - es sind Deine
                Gefühle und Du darfst sie haben.
            </li>
            <li>
                Konzentriere Dich nicht auf 'Du hättest sollen' und 'Du müsstest aber'.
            </li>
            <li>
                    Verändere Deine Gefühle und Ansichten nicht (minimieren, herabsetzen, schmälern,
                    verniedlichen, verneinen, ignorieren, verändern), wenn andere etwas anderes fühlen
                    oder meinen als Du.
                </li>
                <li>
                    Konzentriere Dich auf etwas, wo Du Dich häufig selbst abwertest (Aussehen,
                    Verhalten, Gefühle, Gedanken, Arbeit, Leistung, Sozialverhalten, etc.) und
                    versuche eine andere Sichtweise dessen zu finden, was Du bisher abgewertet hast.
                </li>
                <li>
                    Traue Dich, an Bestätigungen und Feedback zu glauben! Erlaube Dir, Dich über Deine Fortschritte, Deine
                    erreichten Ziele und Anerkennung anderer Menschen zu freuen!
                </li>
                <li>
                    Mache Dinge, die für Dich funktionieren und die Dir zeigen, dass Du Dich selbst
                    und Deine Bedürfnisse ernst nimmst.
                </li>
                <li>
                    Verwandele eine Invalidierung in eine Validierung. Es kann sich um etwas handeln,
                    das Du selbst über Dich denkst, oder um etwas, das jemand anders über Dich gesagt hat.
                </li>
                <li>
                    Versuche Dich selbst und Deine Handlungen samt ihrer Folgen zu verstehen.
                    Mache Dir Deine Lebensgeschichte und Erfahrungen, die aktuellen Umstände und Deine
                    Bedürfnisse und Wünsche bewusst.
                    </li>
                    <li>
                        Validiere Dich selbst, indem Du für Dich sorgst und Dinge machst, die Du magst.
                    </li>
                    <li>
                        Validiere Deine Gedanken, Gefühle und Reaktionen.
                    </li>
                    <li>
                        Gestatte Dir, etwas zu wollen oder Dir etwas zu wünschen.
                    </li>
                    <li>
                        Validiere Deine Ansichten und Werte.
                    </li>
                    <li>
                        Validiere, dass es Dinge gibt, die für Dich schwierig sind.
                        </li>
                        <li>
                            Validiere, dass Du Dir Ziele gesetzt hast und Dich anstrengst,
                            um Deine Ziele zu erreichen.
                        </li>
                        <li>
                            Validiere, was Du für andere tust.
                        </li>
        </ul>

        <img class="validation-self-net" src="http://die-kunst-im-regen-zu-tanzen.de/wp-content/uploads/2017/05/Wertscha%CC%88tzung-e1494236938605-780x442.jpg" alt="">
<br>
<br>
<br>
<br>
</mat-card>
