<h2 class="fancyMuliFont center-text" mat-dialog-title>Herzlich Willkommen in DBT Für Dich!</h2>
<mat-dialog-content (click)="onNoClick()" class="fancyMuliFont center-text">
  <h3>Gut Leben ist die beste Rache.</h3>
  <p>
       Ich hoffe die Materialien in dieser Applikationen
       werden Dir auch ermöglichen besser zu leben.
       Zu einem schönen Leben, glücklich, fröhlich und frei.
       Achtsamkeit, bewertungsfreie Wahrnehmung, radikale Akzeptanz....
       Zu mehr und mehr angenehmen Gefühlen: 'Liebe, Freude, Lust, 
       Stolz, Geborgenheit, Triumph'.
       Den am Ende des Tages, gibt es nur noch Selbstliebe, Liebe zur Menschheit,
       Liebe zu Gott, Liebe zu Menschen die Dir gut tun...
  </p>
  <h3>Möge die Kraft bei Dir sein!</h3> 
  <p>
      Inspiriert von Bohus/Wolf-Arehult: Interaktives SkillsTraining für Borderline-Patienten, 2. Aufl.
  </p> 
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-mini-fab color="primary" mat-dialog-close>
      <i class="material-icons">
          close
          </i>
  </button>
  <button mat-icon-button color="warn" [mat-dialog-close]="true" 
          style="float:right;" cdkFocusInitial (click)="navigateAffirmationsNewView()">
        <mat-icon>favorite</mat-icon>
</button>
</mat-dialog-actions>
