<h2 class="fancyFont center-text" mat-dialog-title>Herzlich Willkommen in DBT Für Dich!</h2>
<mat-dialog-content class="fancyFont center-text">
  <h3 class="fancyFont">Gut Leben ist die beste Rache.</h3>
  <p>
       Ich hoffe die Materialien in dieser Applikationen
       werden Dir auch ermöglichen besser zu leben.
       Zu einem schönen Leben, glücklich, fröhlich und frei.
       Achtsamkeit, bewertungsfreie Wahrnehmung, radikale Akzeptanz....
       Zu mehr und mehr angenehmen Gefühlen: 'Liebe, Freude, Lust, 
       Stolz, Geborgenheit, Triumph'.
       Den am Ende des Tages, gibt es nur noch Selbstliebe, Liebe zur Menschheit...
  </p>
  <p>
      Inspiriert von Bohus/Wolf-Arehult: Interaktives SkillsTraining für Borderline-Patienten, 2. Aufl.
  </p> 
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="accent" mat-dialog-close>Schliessen</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="true" cdkFocusInitial>Weiter</button>
</mat-dialog-actions>
