<mat-card class="motivation-card fancyMuliFont" #container>
    <div class="rainbow" [@enter1]>
        <h1>Motivierende Gedanken</h1>
    </div>
    <h3 [@enter2]>Der Weg anzufangen, ist aufhören zu reden und anfangen zu tun.</h3>

    <h3 class="rainbow" [@enter3]>
        Der Pessimist sieht Schwierigkeiten in jeder Herausforderung. Der Optimist
        sieht Möglichkeiten in jeder Gelegenheit.
    </h3>

    <h3 class="rainbow" [@enter4]>
        Lass Gestern nicht zu viel Platz im heute einnehmen.
    </h3>
    <h3 class="rainbow" [@enter5]>
        Du lernst mehr vom Misserfolg als vom Erfolg. Lass es Dich nicht
        anhalten. Misserfolg baut den Charakter.
    </h3>
    <h3 class="rainbow" [@enter6]>
        Es geht nicht darum ob Du KO geschlagen wurdest. Es geht darum ob Du
        wieder aufstehst.
    </h3>

    <h3 class="rainbow" [@enter1]>
        Wenn du an etwas arbeitest mit dem du Dich identifizieren kannst, musst Du nicht
        angetrieben werden. Die Vision treibt Dich an.
    </h3>

    <h3 class="rainbow" [@enter2]>Leute die verrückt genug sind zu denken, Sie können die Welt verändern,
        sind die, die es tun.
    </h3>

    <h3 class="rainbow" [@enter3]>
        Misserfolg wird mich nie einholen, wenn mein Wille zu siegen stark genug ist.
    </h3>

    <h3 class="rainbow" [@enter4]>
        Unternehmer sind stark mit Ungewissheit umzugehen und Risiko zu minimieren.
    </h3>
    <h3 [@enter5]>
        Mögen wir vielen Niederlagen begegnen, wir dürfen niemals aufgeben.
    </h3>
    <h3 class="rainbow" [@enter6]>
        Wissen reicht nicht, wir müssen es anwenden. Wünschen reicht nicht,
        wir müssen tun.
    </h3>


    <h3 class="rainbow" [@enter1]>
        Stelle Dir vor Dein Leben ist in allen Bereichen perfekt. Wie würde es aussehen?
    </h3>

    <h3 class="rainbow" [@enter2]>
        Wir generieren Angst während wir sitzen. Wir besiegen Sie durch Aktionen.
    </h3>

    <h3 [@enter3]>
        Ob Du denkst Du kannst es oder nicht. Du hast recht.
    </h3>

    <h3 class="rainbow" [@enter4]>
        Sicherheit ist ein Aberglaube. Das Leben ist entweder ein Abenteuer oder nichts.
    </h3>
    <h3 class="rainbow" [@enter5]>
        Der Mann der selbstsicher ist gewinnt das Vertrauen der anderen.
    </h3>
    <h3 class="rainbow" [@enter6]>
        Die einzige Grenze zu unserem Traum von Morgen werden unsere Zweifel von heute
        sein.
    </h3>

    <h3 class="rainbow" [@enter1]>
        Kreativität ist Intelligenz die Spass hat.
    </h3>

    <h3 class="rainbow" [@enter2]>
        Was Dir an Talent mangelt, kannst Du mit Leidenschaft, Übung und 110% die ganze Zeit geben.
    </h3>

    <h3 class="rainbow" [@enter3]>
        Tue was Du kannst mit allem was Du hast, wo immer Du auch bist.
    </h3>

    <h3 class="rainbow" [@enter4]>
        Entwickele eine Einstellung der Dankbarkeit. Sage Danke zu allen die Du kennenlernst,
        für alles was Sie für Dich tun.
    </h3>
    <h3 class="rainbow" [@enter5]>
        Du bist nie zu alt, ein neues Ziel zu verfolgen oder einen neuen grossen
        Traum zu verwirklichen.
    </h3>
    <h3 class="rainbow" [@enter6]>
        Zu sehen was richtig ist und es nicht zu tun ist ein Mangel an Mut.
    </h3>

    <h3 [@enter1]>
        Lesen ist für den Geist, was Training für den Körper ist.
    </h3>

    <h3 class="rainbow" [@enter2]>
        Tue so bist Du es schaffst. Tue so als ob Du alles selbstvertrauen
        der Welt hättest bis es Deine Realität wird.
    </h3>

    <h3 [@enter3]>
        Die Zukunft gehört den Kompetenten. Werde gut, werde besser, sei der Beste!
    </h3>

    <h3 class="rainbow" [@enter4]>
        Für jeden Grund das es nicht möglich ist, gibt es hunderte von Leuten
        die die gleichen Umstände vorgefunden haben und Erfolg hatten.
    </h3>
    <h3 class="rainbow" [@enter5]>
        Ein Raum ohne Bücher ist wie ein Körper ohne Seele.
    </h3>
    <h3 class="rainbow" [@enter6]>
        Ich denke Ziele sollten nie einfach sein. Sie sollten Dich
        stimulieren, selbst wenn es dabei unangenehme Momente gibt.
    </h3>

    <h3 [@enter1]>
        Sei Dir immer selber treu und lass was jemand anders sagt dich nie stören.
    </h3>

    <h3 class="rainbow" [@enter2]>
        Das heute Erreichte war gestern noch das Unmögliche.
    </h3>

    <h3 [@enter3]>
        Der einzige Weg grossartige Arbeit zu leisten ist das zu lieben was Du tust.
        Wenn Du es noch nicht gefunden hast, suche weiter.
    </h3>

    <h3 class="rainbow" [@enter4]>
        Du musst nicht grossartig sein um anzufangen, Du musst anfangen um grossartig zu sein.
    </h3>
    <h3 class="rainbow" [@enter5]>
        Eine klare Vision, untermauert mit konkreten Plänen, gibt Dir ein starkes Gefühl
        des Vertrauens und Macht.
    </h3>
    <h3 class="rainbow" [@enter6]>
        Es gibt keine Grenzen zu dem was Du erreichen kannst, ausser die Grenzen
        die Du Dir selber auf dein eigenes Denken setzt.
    </h3>

    <h3 [@enter1]>
        Reden ist billig, zeige mir den Code. Halte immer Dein Wort.
    </h3>

    <h3 class="rainbow" [@enter2]>
        Baue eine schöne Lösung.
    </h3>

    <h3 [@enter3]>
        Sei ein Macher und kein Laberer.
    </h3>

    <h3 class="rainbow" [@enter4]>
        Sei Kreativ. Dein Kopf ist einzigartig.
    </h3>
    <h3 class="rainbow" [@enter5]>
        Messe Deine Leistung um Dich ständig zu steigern.
    </h3>
    <h3 class="rainbow" [@enter6]>
        Schreibe Code der Lesbar ist für die Wartbarkeit.
    </h3>
    <h3 [@enter1]>
        Einstein glaubte auch an Agil. Lerne von Gestern, lebe für Heute,
        hoffe auf Morgen. Höre nicht auf zu hinterfragen.
    </h3>

    <h3 class="rainbow" [@enter2]>
        Mache keine Fehler. Programmieren ist wie Sex. Einen Fehler hat Konsequenzen
        für den Rest des Lebens.
    </h3>

    <h3 [@enter3]>
        Wünsche werden wahr, wenn Du dran arbeitest.
    </h3>

    <h3 class="rainbow" [@enter4]>
        Fange früh an. Gewinner tun das was Verlierer nich tun wollen.
    </h3>
    <h3 class="rainbow" [@enter5]>
        Denke bevor Du Aktionen unternimmst.
    </h3>
    <h3 class="rainbow" [@enter6]>
        Sei ein Problemlöser.
    </h3>
    <h3 [@enter1]>
        Reden ist billig. Zeig mir den Code.
    </h3>

    <h3 class="rainbow" [@enter2]>
        Mit genügend Augäpfel, sind alle Bugs flach.
    </h3>

    <h3 [@enter3]>
        Software ist wie Sex. Es ist besser wenn es umsonst ist.
    </h3>

    <h3 class="rainbow" [@enter4]>
        Intelligenz ist die Fähigkeit Arbeit zu ignorieren, gleichzeitig die Aufgabe erledigen.
    </h3>
    <h3 class="rainbow" [@enter5]>
        Gute Entwickler sorgen sich um Daten Strukturen und Ihre Beziehungen.
    </h3>
    <h3 class="rainbow" [@enter6]>
        Tue kein Schaden an.
    </h3>
    <h3 [@enter1]>
        Programmieren, Sport, geben mir selbstvertrauen.
    </h3>

    <h3 class="rainbow" [@enter2]>
        Ich habe meinen Helden gefunden, der bin ich.
    </h3>

    <h3 [@enter3]>
        Was ich will ist die Nummer 1 sein.
    </h3>

    <h3 class="rainbow" [@enter4]>
        Deine Grenzen - sind nur Deine Einbildung.
    </h3>
    <h3 class="rainbow" [@enter5]>
        Treibe Dich an, es wird sonst keiner für Dich machen.
    </h3>
    <h3 class="rainbow" [@enter6]>
        Tue es sofort, sonst wird aus später, nie.
    </h3>
    <h3 [@enter1]>
        Grossartige Dinge, kommen nie von der Komfort Zone.
    </h3>

    <h3 class="rainbow" [@enter2]>
        Träum es. Wünsch es. Mache es.
    </h3>

    <h3 [@enter3]>
        Erfolg wird Dich nicht finden. Du musst es Dir holen.
    </h3>

    <h3 class="rainbow" [@enter4]>
        Desto härter Du für etwas arbeitest, desto besser wirst Du Dich fühlen wenn
        Du es erreichst.
    </h3>
    <h3 class="rainbow" [@enter5]>
        Träume grösser. Mache grösser.
    </h3>
    <h3 class="rainbow" [@enter6]>
        Höre nicht auf wenn Du müde bist. Höre auf wenn Du fertig bist.
    </h3>

    <h3 [@enter1]>
        Stehe auf mit Zielstrebigkeit. Gehe ins Bett mit Zufriedenheit.
    </h3>

    <h3 class="rainbow" [@enter2]>
        Tue etwas heute wofür Dein zukünftiges Selbst Dir danken wird.
    </h3>

    <h3 [@enter3]>
        Kleine Dinge machen grosse Tage.
    </h3>

    <h3 class="rainbow" [@enter4]>
        Es wird schwierig sein, schwierig bedeutet nicht unmöglich.
    </h3>
    <h3 class="rainbow" [@enter5]>
        Warte nicht auf Chancen. Erzeuge Sie.
    </h3>
    <h3 class="rainbow" [@enter6]>
        Manchmal werden wir getestet nicht um unsere Schwächen zu zeigen,
        sondern unsere Stärken zu entdecken.
    </h3>

    <h3 [@enter1]>
        Der Schlüssel des Erfolges ist, sich auf die Ziele zu konzentrieren, nicht Hürden.
    </h3>

    <h3 class="rainbow" [@enter2]>
        Träume es. Glaube an es. Baue es.
    </h3>

    <h3 [@enter3]>
        Hoher Selbstwert ist eine Vorbedingung um im Leben Erfolg zu haben.
        Hoher Selbstwert generiert die Energie um Sachen zu erledigen.
    </h3>

    <h3 class="rainbow" [@enter4]>
        Ich kam, ich sah, ich siegte. Der Wille zu siegen ist nichts ohne den Willen
        sich vorzubereiten.
    </h3>
    <h3 class="rainbow" [@enter5]>
        Programmiere die ganze Zeit mit Leidenschaft.
    </h3>
    <h3 class="rainbow" [@enter6]>
        Baue neue Web Applikationen, schreibe neue Tutorials/Artikel.
        Schreibe ein neues Buch.
    </h3>




    <img class="motivation-net"
        src="https://pathwaydesigngroup.com/wp-content/uploads/2019/05/adventure-climb-daylight-673018-850x400.jpg" alt="">

    <br>
    <br>
    <br>
    <br>
    <br>
</mat-card>