<mat-card class="emotions-regulation-card fancyFont">
    <h1>Umgang mit Gefühlen</h1>
        <ul>
            <li>
                    Störungen der Emotionsregulation (d. h. die Schwierigkeit, Emotionen zu steuern)
                    stehen im Zentrum der Borderline-Störung. Heftige, oft lang andauernde,
                    unangenehme Gefühle bestimmen das Erleben, das Gefühl für sich selbst und die
                    Handlungen der Borderline-Patientinnen. Die meisten anderen Probleme hängen
                    damit zusammen.
            </li>
            <li>
                    Auch positive Gefühlsempfindungen können sehr stark werden.
            </li>
            <li>
                    Emotionen können wir regulieren und entsprechende Handlungen steuern. Je stärker
                    die Emotion, desto schwieriger ist es jedoch, den Handlungsimpuls zu kontrollieren.
                    Wie das funktioniert, lernen Sie in diesem Modul.
            </li>
        </ul>
        <h3>Was lernen?</h3>
        <ul>
            <li>
                    Gefühle zu beobachten, zu beschreiben und in ihren Bedeutungen und Auswirkungen
                    zu verstehen.
            </li>
            <li>
                    Emotionale Verwundbarkeit zu verringern und positiven Gefühlen mehr Raum zu
                    geben.
            </li>
            <li>
                    Emotionales Leiden zu vermindern.
            </li>
        </ul>
        <h3>Die Skills nennen wir:</h3>
        <ol>
            <li>
                    Gefühle abschwächen
            </li>
            <li>
                    Vorsicht Falle
            </li>
            <li>
                    Fakten überprüfen
            </li>
            <li>
                    Emotionssurfing
            </li>
            <li>    
                    ABC GESUND
            </li>
            <li>
                    Glaubenssätze relativieren
            </li>
            <li>
                    Probleme lösen: STOP – DENK
            </li>
        </ol>
        <hr>
        <h1>Was wissen wir über Emotionen?</h1>
            <h3>Was sind Emotionen?</h3>
            <ul>
                <li>
                        Emotionen sind automatisierte und erlernte Antworten auf innere und äußere Reize oder
                        Informationen.
                </li>
                <li>
                        Emotionen drängen zu bestimmten Handlungen.
                </li>
                <li>
                        Wir unterscheiden Emotionen (kurz und rasch wechselnd) und Stimmungen (länger und
                        stabiler) – wie Wetter und Klima.
                </li>
            </ul>
            <h3>Wie wirken Emotionen?</h3>
            <h4>
                    Emotionen sind verantwortlich für unser Wohlbefinden und auch dafür, wie wir uns anderen
                    gegenüber verhalten – also für unser Sozialverhalten. Es ist hilfreich, sich
                    klar zu machen, wie sie funktionieren:
            </h4>
            <ul>
                <li>
                        Emotionen entstehen meist rasch und vergehen auch wieder rasch.
                </li>
                <li>
                        Emotionen führen dazu, dass wir uns lebendig fühlen.
                </li>
                <li>
                        Starke Emotionen führen zu starker körperlicher Erregung.
                </li>
                <li>
                        Starke Emotionen entwickeln starken Handlungsdruck und sind schwer zu hinterfragen.
                        Das heißt, intensive Emotionen drängen sich in unser Erleben und bestimmen es.
                        (Emotionen „machen sich wichtig“ und „lieben sich selbst“.)  
                </li>
                <li>
                        Emotionen steuern unser Verhalten.
                        Das geschieht häufig nicht bewusst. Aber wir versuchen, unangenehme Emotionen zu
                        meiden und angenehme Emotionen zu erlangen. Emotionen motivieren uns also und
                        bereiten unsere Handlungen vor.
                </li>
                <li>
                        Emotionen sind stark von unserer Lebenserfahrung geprägt.
                        Ein Schüler, der bereits mehrmals wegen seiner etwas plumpen Bewegungen im
                        Sportunterricht ausgelacht und gehänselt wurde, wird sich bei einer abfälligen Bemerkung
                        auf dem Schulhof über seine neuen Sneakers eher schämen als jemand, der regelmäßig
                        die Fußballmannschaft zum Sieg führt und deshalb von allen bewundert wird.
                </li>
                <li>
                        Emotionen sagen nichts über die Wirklichkeit aus, sondern nur darüber, wie wir die
                        Wirklichkeit deuten und bewerten.
                        Wenn wir die SMS „Vielen Dank, du warst toll gestern ;-)“, auf dem Handy unseres
                        Freundes lesen und das als geheimen Dank für einen Seitensprung interpretieren, werden
                        wir natürlich eifersüchtig. Wenn wir aber wissen, dass sich mit dieser Mail ein Mitschüler
                        bedankt, weil er von ihm den entscheidenden Tipp zur Lösung der Mathearbeit bekommen
                        hat, sind wir wahrscheinlich stolz auf ihn.
                </li>
                <li>
                        Unsere Emotionen beeinflussen auch andere Menschen.
                        Unser Gesichtsausdruck, unsere Haltung und Gestik können Information schneller
                        kommunizieren als Worte. Wenn jemand Tränen in den Augen hat und nach unten schaut,
                        denken wir wahrscheinlich, dass er traurig ist, und wollen ihn trösten.
                </li>
                <li>
                        Emotionen können uns selbst wichtige Informationen über die Situation geben.
                        Wenn wir beispielsweise Angst haben, denken wir, dass die momentane Situation
                        gefährlich ist, und werden uns sehr vorsichtig bewegen. Wenn wir uns schämen, dann
                        filtern wir unsere Umgebung sehr genau nach Hinweisen auf soziale Zurückweisung und
                        bemühen uns, nicht aufzufallen. Wenn wir eifersüchtig sind, werden wir automatisch alle
                        Hinweise auf verdächtige E-Mails sehr genau registrieren, und wenn wir frisch verliebt
                        sind, werden wir jeden noch so versteckten Hauch von Eleganz und Schönheit bei
                        unserem Prinzen in leuchtenden Farben sehen.
                </li>
                <li>
                        Wir können Emotionen auch steuern.
                        Unser Gehirn kann Emotionen verstärken und abschwächen. Dies kann man trainieren.
                </li>
            </ul>
            <img class="emotional-net" src="https://docplayer.org/docs-images/75/72886730/images/37-0.jpg" alt="">
        <br>
        <br>
</mat-card>
