.affirmations-card {
    width: 300px;
    height: 200px;
    margin: auto;
    margin-top: 15%;
    display: flex;
    line-height: 200px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .affirmations-div {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }