<div [@enter1] fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayoutGap="25px">
        <mat-card [@enter4] *ngFor="let lifeCard of lifeCards" fxFlex="calc(33%-25px)" fxFlex.sm="calc(50%-25px)">
          <mat-card-header style="text-align: center;">
            <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>{{lifeCard.title}}</mat-card-title>
              <mat-card-subtitle>{{lifeCard.subtitle}}</mat-card-subtitle>
          </mat-card-header>
          <img class="image" mat-card-image [src]="lifeCard.url" alt="Photo of {{lifeCard.title}}">
          <mat-card-content style="text-align: center;">
            <p>
              {{lifeCard.content}}
            </p>
          </mat-card-content>
        </mat-card>
</div>
