<mat-toolbar>
        <mat-toolbar-row>
          <span>DBT-Module</span>
          <span class="app-toolbar-filler"></span>
          <mat-icon class="example-icon">build</mat-icon>
        </mat-toolbar-row>
        <mat-toolbar-row>
          <button mat-button (click)="navigateDbt()" class="app-sidebar-button">Achtsamkeit</button>
        </mat-toolbar-row>
        <mat-toolbar-row>
            <button mat-button class="app-sidebar-button">Emotions-Regulation</button>
        </mat-toolbar-row>
        <mat-toolbar-row>
            <button mat-button class="app-sidebar-button">Beziehungen</button>
        </mat-toolbar-row>
        <mat-toolbar-row>
            <button mat-button class="app-sidebar-button">Stresstoleranz</button>
        </mat-toolbar-row>
        <mat-toolbar-row>
            <button mat-button class="app-sidebar-button">Validierung</button>
        </mat-toolbar-row>
        <mat-toolbar-row>
            <button mat-button class="app-sidebar-button">DBT-Tagebuch</button>
        </mat-toolbar-row>
  
        <mat-toolbar-row>
          <span>Krisenbewältigung</span>
          <span class="app-toolbar-filler"></span>
          <mat-icon class="example-icon">add_alert</mat-icon>
        </mat-toolbar-row>
        <mat-toolbar-row>
          <button mat-raised-button color="warn" class="app-sidebar-button">
            <mat-icon class="example-icon">warning</mat-icon>
            Zufällige Skills
          </button>
        </mat-toolbar-row>
        <mat-toolbar-row>
            <button mat-raised-button color="warn" class="app-sidebar-button">
              <mat-icon class="example-icon">warning</mat-icon>
              Fokussierte Achtsamkeit
            </button>
          </mat-toolbar-row>
          <mat-toolbar-row>
              <button mat-raised-button color="warn" class="app-sidebar-button">
                <mat-icon class="example-icon">warning</mat-icon>
                Flashback
              </button>
            </mat-toolbar-row>
            <mat-toolbar-row>
                <button mat-raised-button color="warn" class="app-sidebar-button">
                  <mat-icon class="example-icon">warning</mat-icon>
                  Krise bewältigen
                </button>
              </mat-toolbar-row>
        <mat-toolbar-row>
          <span>Weitere Unterstützung </span>
          <span class="app-toolbar-filler"></span>
          <mat-icon class="example-icon">favorite</mat-icon>
        </mat-toolbar-row>
        <mat-toolbar-row>
          <button mat-raised-button color="accent" class="app-sidebar-button">
            <mat-icon class="example-icon">help</mat-icon>
            Stärkende/Alternative Gedanken
          </button>
        </mat-toolbar-row>
        <mat-toolbar-row>
        <button (click)="navigateAffirmations()" mat-raised-button color="accent" class="app-sidebar-button">
            <mat-icon class="example-icon">help</mat-icon>
            Affirmationen/Tips
          </button>
        </mat-toolbar-row>
        <!-- <mat-toolbar-row>
            <button mat-raised-button color="accent" class="app-sidebar-button">
              <mat-icon class="example-icon">delete</mat-icon>
              Wöchentlicher Tip
            </button>
          </mat-toolbar-row>
          <mat-toolbar-row>
          <button mat-raised-button color="accent" class="app-sidebar-button">
              <mat-icon class="example-icon">delete</mat-icon>
              Affirmationen
            </button>
          </mat-toolbar-row> -->
      </mat-toolbar>
