<mat-card class="flashback-card fancyMuliFont">
        <h1 [@enter1]>
          Tips bei einem Flashback
        </h1>
      
        <div [@enter2]>
          <ul>
              <li>
                    Mach Dir klar, dass Du einen Flashback hast. Dies ist normal bei Menschen,
                    die ein Trauma erlebt haben. Du bist nicht verrückt. Flashbacks sind eine normale
                    Reaktion, sie sind nicht gefährlich und Du bist auf dem Weg der Besserung.
              </li>
          </ul>
        </div>
      
        <div [@enter3]>
               <ul>
                   <li>
                       Führe Dir vor Augen. "Das war im Dort und Damals, aber nun bin ich im Hier
                       und Jetzt." Du bist jetzt nicht mehr in der selben Situation. Denke daran, dass
                       es okay ist, sich an Vergangenes und an die Gefühle von Dort und Damals 
                       zu erinnern, aber diese Erinnerungen und Gefühle können Dich im Hier und Jetzt
                       nicht mehr verletzen.
                   </li>
               </ul>
        </div>
        <div [@enter4]>
                <ul>
                    <li>
                            Atme bewusst. lege eine Hand auf Deinen Bauch und fühle, wie sich die
                            Bauchdecke hebt und senkt, während Du ein- und ausatmest. Am Besten ist
                            es eine Atemübung zu machen, die Du bereits kennst.
                    </li>
                </ul>
         </div>
         <div [@enter5]>
                <ul>
                    <li>
                        Wenn Du das Gefühl dafür verlierst, wo du selbst aufhörst und wo die Welt
                        anfängt, reibe deine Arme und Beine, so dass Du die Grenzen Deines Körpers wahrnimmst.
                        Wickle Dich eng in eine Decke ein und spüre den Druck der Decke auf Deinen Körper.
                    </li>
                </ul>
         </div>
         <div [@enter6]>
                <ul>
                    <li>
                            Versuche eine achtsamkeitsübung zu machen, die Du bereits kennst oder probiere
                            einen dieser Vorschläge aus:
                            <ul>
                                <li>
                                        Stehe auf, hüpfe auf und ab, stampfe
                                        mit Deinen Füssen auf den boden, klatsche in die
                                        Hände. Erinnere Dich daran, wo Du jetzt bist.
                                </li>

                                <li>
                                        Sieh Dich in Deiner Umgebung um und registriere
                                        Eigenschaften von Gegenständen: Farbe, Formen, Grösse...
                                </li>
                                <li>
                                    Höre auf Geräusche in Deiner Umgebung: Verkehr, Stimmen, Musik...
                                </li>
                                <li>
                                    Konzentriere Dich auf Deinen Körper, folge den Konturen Deines Körpers
                                    und nimm wahr, wo die Grenzen Deines Körpers sind und welche 
                                    Gegenstände Dein Körper gerade berührt (Stuhl, Boden, Wand, etc.)
                                </li>
                                <li>
                                    Unterscheide zwischen Dort und Damals und Hier und Jetzt, beispielsweise
                                    indem Du ein Gummiband gegen Dein Handgelenk schippen lässt. Dieses Gefühl
                                    gehört in das Hier und Jetzt - die Dinge, die Du im Flashback erlebst, gehören
                                    zum Dort und Damals.
                                </li>
                                
                            </ul>
                    </li>
                </ul>
         </div>
         <div>
             <ul>
                 <li>
                        Bitte um Unterstützung, wenn Du Unterstützung benötigst. lass die Nähe anderer
                        Menschen zu. Sei Dir bewusst, dass Du jetzt gerade einen Flashback hast und versuche
                        Dich von anderen menschen unterstützen zu lassen. das kann zum Beispiel eine Umarmung
                        oder ein Gespräch sein. Oder mit Hilfe anderer Menschen im Hier und Jetzt zu bleiben und
                        Dich daran zu erinnern, dass Du jetzt in Sicherheit bist.
                 </li>
             </ul>
         </div>
         <div>
             <ul>
                 <li>
                        Sorge für Dich, nachdem Du einen Flashback gehabt hast. Nach einem Flashback
                        fühlst Du Dich möglicherweise leer und ohne Energie. Vielleicht brauchst Du
                        Erholung und Schlaf oder du kannst ein entspannendes Bad nehmen.
                        Mache Dir ein heisses Getränk und höre beruhigende Musik. Du verdienst einen
                        liebevollen fürsorglichen Umgang in Anbetracht dessen, was Du erlebt hast.
                 </li>
             </ul>
         </div>
         <div>
             <ul>
                 <li>
                        Manche Menschenmit Flashbacks finden es hilfreich, etwas später alles
                        aufzuschreiben, woran sie sich erinnern können - und wenn sie es geschafft
                        haben den Flashback zu beenden. Das kann Dir dabei helfen, dich daran zu erinnern,
                        dass Du Flashbacks bisher überstanden konntest und wieder überstehen kannst.
                 </li>
             </ul>
         </div>

         <img class="flashback-net" src="https://i.vimeocdn.com/video/716182282.webp?mw=800&mh=450&q=70" alt="">

         <br>
         <br>
         <br>
         <br>
    </mat-card>
