<div class="skills-bottom-sheet">
        <h1 class="center">Welche Skills hast Du heute benutzt?</h1>
        <h3>Emotionsregulation</h3>
          <mat-checkbox>Emotionale Verwundbarkeit reduzieren</mat-checkbox><br>
          <span>
                Bedeutet: Deine Erkrankungen zu behandeln, regelmässig und ausgewogen
                zu essen, auf Alkohol und Drogen zu verzichten, ausreichend zu schlafen,
                Dich zu bewegen.
        </span><br>
        <mat-checkbox>Kompetenzen aufbauen</mat-checkbox><br>
          <span>
                Stärke Dein Selbstvertrauen. Versuche Dich selbst, Deine Reaktions-
                mechanismen und Deine automatischen Gedanken (Glaubenssätze) zu verstehen
                - sie sind verständlich in Anbetracht der Umstände und Deiner persönlichen
                Geschichte. Versuche Deine Gefühle wahrzunehmen und benennen. Was ist die Funktion
                dieser Gefühle, wozu und wann sind sie nützlich und wann nicht?
        </span><br>
        <mat-checkbox>Positive Erfahrungen machen</mat-checkbox><br>
        <span>
               Bedeutet: positive Erfahrungen wahrzunehmen und kurz- und langfristig die Möglichkeit
               für weitere positive Erfahrungen zu schaffen.
      </span><br>
      <mat-checkbox>Achtsam gegenüber seinen Gefühlen</mat-checkbox><br>
      <span>
             Bedeutet: emotionales Leiden zu reduzieren, indem Du Deine aktuellen Gefühle
             achtsam wahrnimmst und akzeptierst.
    </span><br>
    <mat-checkbox>Gefühle abschwächen</mat-checkbox><br>
    <span>
           Nimm Dein Gefühl wahr, und benenne es. Ist das Gefühl zu intensiv, unangemessen
           oder unpassend (z.B. wenn es sich auf die Vergangenheit bezieht statt auf die
           aktuelle Situation) oder löst es einen selbstschädigenden Handlungsdrang aus?
           Dann versuche es abzuschwächen in dem Du Dich auf allen Ebenen gegenteilig verhälst
           (Wahrnehmung, Gedanken, Körperhaltung, Handlungsdrang).
  </span><br>
    <button mat-mini-fab class="right" (click)="openStressToleranceBottomSheet()">
            <mat-icon><i class="material-icons">
                    open_with
                    </i></mat-icon>
    </button>
</div>  

