<mat-card>
        <mat-card-title>Einloggen</mat-card-title>
  <mat-card-content>
    <form class="login-form" [formGroup]="form" (ngSubmit)="submit()">
      <p>
        <mat-form-field class="login-full-width">
          <input type="text" matInput placeholder="Dein Name..." formControlName="username">
          <mat-error *ngIf="!form.hasError('required')">
              Name bitte eingeben.
            </mat-error>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field class="login-full-width">
          <input type="password" matInput placeholder="Passwort" formControlName="password">
          <mat-error *ngIf="!form.hasError('required')">
              Passwort eingeben.
            </mat-error>
        </mat-form-field>
      </p>

      <p *ngIf="error" class="error">
        {{ error }}
      </p>

      <div class="button">
        <button type="submit" mat-raised-button color="accent" mat-button>OK</button>
      </div>

    </form>
  </mat-card-content>
</mat-card>
