<mat-nav-list *ngIf="data.key === 'first'">
        <a mat-list-item (click)="openLink($event)">
          <span mat-line>Wie  zeigt sich Achtsamkeit?</span>
          <span mat-line>
              Achtsamkeit kann man mehrmals am Tag für<br> wenige Minuten üben,
              z.B. "achtsames Gehen"<br> und "achtsames Hören" ...
          </span>
          <span mat-line>
              Die Wirksamkeit der Achtsamkeit ist<br> überprüfbar.
              Die ersten Erfolge stellen<br> sich nach fünf bis Acht
              Wochen ein.
          </span>
          <span mat-line>
                Sie werden den Erfolg der Übung<br> dadurch bemerken, dass
                nach einer gewissen Zeit<br> in bestimmten Situationen Erinnerungen
                Wach<br> werden, die Sie aufmerksam machen und und Sie ermahnen<br>
                in Form von:<br>
                <b>Ich wollte nicht mehr bewerten...</b><br>
                <b>Ich wollte achtsamer essen, hören, gehen...</b><br>
                <b>Ich wollte mehr auf meine Intuition vertrauen...</b>
        </span>
        </a>
</mat-nav-list>

<mat-nav-list *ngIf="data.key === 'second'">
        <a mat-list-item (click)="openLink($event)">
                <span mat-line>So üben Sie Achtsamkeit:</span>
                <span mat-line>
                    Beginnen Sie mit einfachen Übungen! Wenn
                    Sie<br> Schwierigkeiten haben, Ihren Körper
                    wahrzunehmen,<br> oder wenn Sie leicht Panikattacken
                    oder Flashbacks<br> bekommen, wenn Sie die Augen schliessen,<br>
                    beginnen Sie mit Übungen, die die Aufmerksamkeit<br> auf Sehen,
                    Hören, Riechen oder Schmecken richten.
                </span>
                <span mat-line>
                        Mit zunehmender Übung können Sie<br>mit Atemübungen
                        oder der Körperwahrnehmumg<br>weitermachen.
                    </span>
                    <span mat-line>
                          Grundregel: Sie sollten die<br> jeweils vorgeschlagene Übungsdauer
                          genau<br> einhalten. Natürlich ist es auch wichtig, Ihre eigenen<br>
                          Grenzen gegenüber achtsam zu sein.<br>
                          Besorgen Sie einen Küchenwecker.<br>Er hilft Ihnen,
                          sich ganz auf die Übung zu<br> konzentrieren.
                          Die Übungen gliedern sich in drei Teile<br> der "WAS-Fertigkeiten":<br>
                          <br>
                            <b>Übungen zum Wahrnehmen</b><br>
                            <b>Übungen zum Beschreiben</b><br>
                            <b>Übungen zum Teilnehmen</b>
                    </span>
              </a>
</mat-nav-list>
