<mat-card [@flyIn]="'in'" class="dbt-ripple-container mat-elevation-z4"
      matRipple
     [matRippleCentered]="centered"
     [matRippleDisabled]="disabled"
     [matRippleUnbounded]="unbounded"
     [matRippleRadius]="radius"
     [matRippleColor]="color"
     (click)="navigateAchtsamkeit()">
  Achtsamkeit
</mat-card>
<mat-card [@flyIn]="'in'" class="dbt-ripple-container mat-elevation-z6"
      matRipple
     [matRippleCentered]="centered"
     [matRippleDisabled]="disabled"
     [matRippleUnbounded]="unbounded"
     [matRippleRadius]="radius"
     [matRippleColor]="color"
     (click)="navigateUmgangMitGefuehlen()">
  Emotions-Regulation
</mat-card>
<mat-card [@flyIn]="'in'" class="dbt-ripple-container mat-elevation-z8"
      matRipple
     [matRippleCentered]="centered"
     [matRippleDisabled]="disabled"
     [matRippleUnbounded]="unbounded"
     [matRippleRadius]="radius"
     [matRippleColor]="color"
     (click)="navigateAchtsamkeit()">
  Beziehungen
</mat-card>
<mat-card [@flyIn]="'in'" class="dbt-ripple-container mat-elevation-z10"
      matRipple
     [matRippleCentered]="centered"
     [matRippleDisabled]="disabled"
     [matRippleUnbounded]="unbounded"
     [matRippleRadius]="radius"
     [matRippleColor]="color"
     (click)="navigateToleranz()">
  Stresstoleranz
</mat-card>
<mat-card [@flyIn]="'in'" class="dbt-ripple-container mat-elevation-z12"
      matRipple
     [matRippleCentered]="centered"
     [matRippleDisabled]="disabled"
     [matRippleUnbounded]="unbounded"
     [matRippleRadius]="radius"
     [matRippleColor]="color"
     (click)="navigateAchtsamkeit()">
  Validierung
</mat-card>
<mat-card [@flyIn]="'in'" class="dbt-ripple-container mat-elevation-z14"
      matRipple
     [matRippleCentered]="centered"
     [matRippleDisabled]="disabled"
     [matRippleUnbounded]="unbounded"
     [matRippleRadius]="radius"
     [matRippleColor]="color"
     (click)="navigateAchtsamkeit()">
  DBT-Tagebuch
</mat-card>


