<div class="container">
    <mat-card *ngFor="let post of posts | async"
    routerLink="view-post/{{post.url}}"
    class="post">
    <img [src]="getPostImage(post)" alt="{{post.title}}" itemprop="image">
    <div class="post-content">
      <h3><a routerLink="/blog/{{post.url}}" itemprop="headline">{{post.title}}</a></h3>
      <div class="date" itemprop="datePublished">{{post.date | date }}</div>
      <p>
        <span [innerHTML]="post.body | truncate:[100]" itemprop="articleBody"></span>
        <button mat-button routerLink="/view-post/{{post.url}}">Lese mehr...</button>
      </p>
    </div>
    </mat-card>
    <p class="block-center" *ngIf="searchTerm && !(posts | async | search: searchTerm)?.length">Keine Blogs</p>
</div>
