<div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayoutGap="25px">
    <mat-card fxFlex="calc(33%-25px)" fxFlex.sm="calc(50%-25px)" >
      <mat-card-header>
        <mat-card-title>Intuitives Wissen (Wise Mind)</mat-card-title>
        <mat-card-subtitle>
            Bedeutet: Gefühl und Verstand in ein Gleichgewicht
            zu bringen. Intuitives Wissen und Verstehen anzuwenden.
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-selection-list #opt>
            <mat-list-option>
              Versuche, mithilfe intuitiven Wissens zu entscheiden.
            </mat-list-option>
            <mat-list-option>
                Nenne etwas, das Du an Dir selbst genau in diesem
                Moment validieren kannst.
              </mat-list-option>
              <mat-list-option>
               Was sagt Dir Dein Gefühl? Was sagt Dir Dein Verstand?
               Kannst Du ein Gleichgewicht zwischen Gefühl und Verstand
               herstellen?
              </mat-list-option>
          </mat-selection-list>
          
          <p>
            Optionen gewählt: {{opt.selectedOptions.selected.length}}
          </p>
      </mat-card-content>
    </mat-card>
    <mat-card fxFlex="calc(33%-25px)" fxFlex.sm="calc(50%-25px)" >
        <mat-card-header>
          <mat-card-title>Intuitives Wissen (Wise Mind)</mat-card-title>
          <mat-card-subtitle>
              Bedeutet: Gefühl und Verstand in ein Gleichgewicht
              zu bringen. Intuitives Wissen und Verstehen anzuwenden.
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-selection-list #opti>
              <mat-list-option>
                Versuche, mithilfe intuitiven Wissens zu entscheiden.
              </mat-list-option>
              <mat-list-option>
                  Nenne etwas, das Du an Dir selbst genau in diesem
                  Moment validieren kannst.
                </mat-list-option>
                <mat-list-option>
                 Was sagt Dir Dein Gefühl? Was sagt Dir Dein Verstand?
                 Kannst Du ein Gleichgewicht zwischen Gefühl und Verstand
                 herstellen?
                </mat-list-option>
            </mat-selection-list>
            
            <p>
              Optionen gewählt: {{opti.selectedOptions.selected.length}}
            </p>
        </mat-card-content>
      </mat-card>
      <mat-card fxFlex="calc(33%-25px)" fxFlex.sm="calc(50%-25px)" >
        <mat-card-header>
          <mat-card-title>Intuitives Wissen (Wise Mind)</mat-card-title>
          <mat-card-subtitle>
              Bedeutet: Gefühl und Verstand in ein Gleichgewicht
              zu bringen. Intuitives Wissen und Verstehen anzuwenden.
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-selection-list #options>
              <mat-list-option>
                Versuche, mithilfe intuitiven Wissens zu entscheiden.
              </mat-list-option>
              <mat-list-option>
                  Nenne etwas, das Du an Dir selbst genau in diesem
                  Moment validieren kannst.
                </mat-list-option>
                <mat-list-option>
                 Was sagt Dir Dein Gefühl? Was sagt Dir Dein Verstand?
                 Kannst Du ein Gleichgewicht zwischen Gefühl und Verstand
                 herstellen?
                </mat-list-option>
            </mat-selection-list>
            
            <p>
              Optionen gewählt: {{options.selectedOptions.selected.length}}
            </p>
        </mat-card-content>
      </mat-card>
  </div>
