<div class="skills-bottom-sheet">
        <h1 class="center">Welche Skills hast Du heute benutzt?</h1>
        <h3>Stresstoleranz</h3>
          <mat-checkbox>Ablenken</mat-checkbox><br>
          <span>
                Ablenkung durch Aktivitäten, Ablenkung durch Unterstützung anderer
                Menschen, ablenkende Vergleiche, Verstärkung des gegenteiligen Gefühls,
                kurzfristiges beiseite schieben (um sich später in Ruge damit zu beschäftigen!),
                an andere Dinge denken, sich mit intensiven Körperempfindungen und Reizen ablenken.
        </span><br>
        <mat-checkbox>Sich beruhigen mit Hilfe der fünf Sinne</mat-checkbox><br>
          <span>
                Bedeutet: Achtsam sehen, hören, riechen, schmecken, fühlen.
        </span><br>
        <mat-checkbox>Den Augenblick verbessern</mat-checkbox><br>
        <span>
               Bedeutet: Dir etwas Angenehmes oder einen sicheren Ort vorzustellen, einen Sinn
               zu finden, alternative Erklärungen zu finden, zu beten, Dich zu entspannen,
               einen Schritt nach dem anderen zu machen, Dir eine Auszeit zu nehmen, Dich selbst zu
               ermutigen.
      </span><br>
      <mat-checkbox>Pro und Contra abwägen</mat-checkbox><br>
      <span>
             Bedeutet: An Deinen Langzeit-Zielen zu arbeiten.
    </span><br>
    <mat-checkbox>Akzeptieren</mat-checkbox><br>
    <span>
           Bedeutet: Akzeptieren heisst anerkennen, was ist. Es handelt sich um eine
           bewusste Entscheidung, die Du immer wieder von Neuem triffst.
  </span><br>
  <mat-checkbox>Integrierte Achtsamkeit</mat-checkbox><br>
    <span>
          Nimm Deinen Atem wahr. Entspanne Dich. Nimm achtsam Deinen Körper wahr.
          Nimm die Farben, Formen, Geräusche, Gerüche usw. wahr, die Dich umgeben.
  </span><br>
    <button mat-mini-fab class="right" (click)="openLink($event)">
            <mat-icon><i class="material-icons">
                    open_with
                    </i></mat-icon>
    </button>
</div>  
