<div class="skills-bottom-sheet">
        <h1 class="center">Welche Skills hast Du heute benutzt?</h1>
        <h3>Beziehungen</h3>
          <mat-checkbox>Orientierung auf das Ziel</mat-checkbox><br>
          <span>
                Beschreibe die Situation. Drücke Deine Gefühle, Empfindungen und Gedanken
                aus. Behaupte Dich, wenn Du um etwas bittest und sage Nein, wenn Du etwas nicht machen
                willst. Erkläre die Konsequenzen. Bestärke und Wertschätze Dein Gegenüber.
                Konzentriere Dich auf Deine Ziele und lass Dich nicht ablenken, sondern wiederhole höflich
                Deine Bitten und Wünsche. Ignoriere persönliche Angriffe.
                Trete wirkungsvoll und kompetent auf. Verhandele über alternative Lösungen,
                (nicht mit dem Kopf durch die Wand!).
        </span><br>
        <mat-checkbox>Orientierung auf die Beziehung</mat-checkbox><br>
          <span>
                Verwende höfliche Umgangsformen, verzichte auf Angriffe und Drohungen.
                Zeige echtes Interesse an der anderen Person und deren Meinung.
                Validiere die andere Person, ohne Sie zu bewerten.
                Gelassenheit und Humor sind hilfreich.
        </span><br>
        <mat-checkbox>Orientierung auf die Selbstachtung</mat-checkbox><br>
        <span>
               Sei fair mit Dir selbst und mit anderen.
               Entschuldige Dich nicht dafür dass Du existierst.
               Aber achte darauf ob es möglicherweise wirklich etwas gibt,
               wofür Du Dich entschuldigen solltest. Stehe für Deine Werte ein
               und halte Dich an die Regeln. Sei aufrichtig und ehrlich.
      </span><br>
    <button mat-mini-fab class="right" (click)="openRelationshipsBottomSheet()">
            <mat-icon><i class="material-icons">
                    open_with
                    </i></mat-icon>
    </button>
</div>  
