<mat-card class="validation-others-card fancyMuliFont center-text">
    <h1>Andere Validieren</h1>
    <img class="validation-others-net" src="https://dg.imgix.net/you-don-t-need-to-prove-yourself-o9hwmpgt-en/landscape/you-don-t-need-to-prove-yourself-o9hwmpgt-f16f4672b929e1843373e7981900470a.jpg?ts=1558122003&ixlib=rails-3.0.2&auto=format%2Ccompress&fit=min&w=800&h=450" alt="">
    <p>
        Bedeutet: Die anderen wertzuschätzen und ernst zu nehmen, 
        anderen Hilfe und Unterstützung anzubieten, zwischenmenschliche Beziehungen in ein
        Gleichgewicht mit den eigenen Bedürfnissen und den Bedürfnissen der anderen zu bringen.
    </p>
    <ul>
        <li>
            Sei ganz im Augenblick und höre achtsam zu.
        </li>
        <li>
            Spiegel die Gefühle anderer Menschen auf eine respektvolle Art.
            Bewerte sie nicht.
        </li>
        <li>
            Spiegle, was Du hörst, um zu zeigen, dass Du verstehst.
        </li>
        <li>
            Versuche die Reaktionen anderer Menschen vor dem Hintergrund ihrer Erfahrungen
            und Lebensgeschichten zu verstehen.
        </li>
        <li>
            Überprüfe Deine Gefühle, Beurteilungen und Wünsche, ob sie in der
            aktuellen Situation passend sind und zur aktuellen Situation gehören.
            Wenn nicht, schwäche Deine Gefühle, Beurteilungen und Wünsche ab.
        </li>
        <li>
                Versuche authentisch zu sein, behandele andere Menschen gleichwertig und
                nicht als ob sie schwach oder inkompetent wären.
            </li>
            <li>
                Jemandem seine Verletzlichkeit anzuvertrauen ist eine Form der Validierung.
            </li>
    </ul>

    <img class="validation-others-net" src="https://cdn.onebauer.media/one/lifestyle-legacy/eb/e3f1c/d4c34/98880/269ac/97b7c/9de1d/kindness-day-hero_620x349.jpg?quality=80&width=800&ratio=16-9&format=jpg" alt="">
<br>
<br>
<br>
<br>
</mat-card>
