$break-small: 320px;

.affirmations-card {
  width: 800px;
  min-height: 300px;
  max-height: 650px;
  margin: auto;
  margin-top: 10%;
  display: flex;
  line-height: 300px;
  align-items: center;
  justify-content: center;
  text-align: center;
  }
  
  .affirmations-div {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .big {
    font-size: 58px !important;
    line-height: 98%;
  }

  @media only screen and (max-width: 480px) {
    .big {
    font-size: 38px !important;
    }
    .affirmations-card {
      width: 80%;
      min-height: 30%;
      max-height: 54%;
      margin-top: 30%;
    }
  }