@import '~@angular/material/theming';

@include mat-core();

$custom-green: (
  50: #e6fcf5,
  100: #bff8e6,
  200: #95f3d5,
  300: #6beec4,
  400: #4beab8,
  500: #2be6ab,
  600: #26e3a4,
  700: #20df9a,
  800: #1adb91,
  900: #10d580,
  A100: #ffffff,
  A200: #cfffe9,
  A400: #9cffd1,
  A700: #83ffc5,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text
  )
);

$app-primary: mat-palette($mat-deep-purple);
$app-accent: mat-palette($custom-green, 600);
$app-warn: mat-palette($mat-red);
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

$primary: map-get($app-theme, primary);
$accent: map-get($app-theme, accent);
$warn: map-get($app-theme, warn);

@mixin linkHover() {
    --hover-box-translate-x: 120%;
    --hover-box-skew: 0;
  
    position: relative;
  
    &::after {
      content: '';
      position: absolute;
      z-index: -1;
      background: mat-color($primary, lighter, 0.3);
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      transition: transform 0.2s cubic-bezier(0.35, 0, 0.25, 1);
      transform: skew(var(--hover-box-skew)) translateX(var(--hover-box-translate-x));
    }
  
    &:not(.active):hover::after {
      --hover-box-translate-x: 200px;
      --hover-box-skew: 20deg;
    }
  
    &.active {
      color: mat-color($primary);
      --hover-box-translate-x: 0;
      --hover-box-skew: 0deg;
    }
  }
  
  @mixin small-only {
    @media (max-width: 599px) {
      @content;
    }
  }
  
  @mixin medium-up {
    @media (min-width: 600px) {
      @content;
    }
  }
  
  @mixin large-up {
    @media (min-width: 900px) {
      @content;
    }
  }
  
  @mixin for-desktop-up {
    @media (min-width: 1200px) {
      @content;
    }
  }

@mixin wrapper() {
  --wrapper-width: 650px;
  --padding-bottom: 20px;

  margin: 0 auto;
  max-width: var(--wrapper-width);
  padding: 65px 12px var(--padding-bottom);

  @include medium-up() {
    --padding-bottom: 50px;
  }

  @include large-up() {
    --wrapper-width: 850px;
  }
}

:host {
  display: flex;
  height: 100%;
  flex-direction: column;
}

mat-sidenav {
  width: 300px;

  .section-container {
    padding: 1rem 0;
  }

  ::ng-deep .mat-drawer-inner-container {
    overflow-x: hidden;
  }
}

mat-sidenav-content {
  display: flex;
  overflow: hidden;
}

mat-sidenav-container {
  flex: 1;
}

.scroll-container {
  flex: 1;
  overflow: auto;
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(250, 250, 250, 0.85);

  &:hover span {
    opacity: 1;
  }

  span {
    transition: opacity 0.2s cubic-bezier(0.35, 0, 0.25, 1);
    opacity: 0;
  }
}

app-toolbar {
  $spacing: 16px;

  app-dropdown,
  app-checklist-search {
    margin-left: $spacing;

    @include small-only() {
      margin-left: auto;
    }
  }

  &.desktop app-dropdown {
    margin-left: auto;
  }

  &:not(.desktop) app-checklist-search {
    flex: 1;
    margin-left: $spacing;
  }
}

.logo {
  display: flex;
  flex-direction: row;

  img {
    height: 38px;
    width: auto;
  }

  h4 {
    display: flex;
    align-items: center;
    margin-left: 8px;
  }
}

.sidenav-link {
  @include linkHover();

  display: flex;
  align-items: center;
  color: initial;
  padding: 8px;
  font-weight: 500;
  padding-left: 45px;
  text-decoration: none;

  ::ng-deep .mat-badge-content {
    top: -14px;
  }

  mat-icon {
    margin-right: 10px;
    color: #d4d4d4;
  }

  &.disabled {
    color: gainsboro;
  }

  &.active {
    mat-icon {
      color: mat-color($primary);
    }
  }
}

.menu-button {
  margin-right: 10px;
}

section {
  padding: 15px 0 0 15px;
}

.section-header {
  display: flex;
  align-items: center;
  margin: 15px 0;
  flex-shrink: 0;

  h4 {
    flex: 1;
    margin: 0;
  }

  mat-slide-toggle {
    margin-right: 12px;
  }
}

.category-item-list {
  padding: 0;
  margin: 10px 0;
  list-style: none;

  a {
    display: inline-block;
    width: 100%;
    color: rgba(0, 0, 0, 0.54);
    font-size: 13px;
    line-height: 16px;

    &.done {
      text-decoration: line-through;
      opacity: 0.5;
    }

    &.active {
      color: mat-color($primary);
    }
  }
}

.category,
.nav-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 5px;

  mat-checkbox {
    display: flex;
    left: 15px;
  }

  app-score-chart {
    left: 10px;
  }

  mat-checkbox,
  app-score-chart {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

app-score-chart {
  width: 26px;
  margin-right: 10px;
}