.skills-bottom-sheet {
    // overflow: hidden;
    // text-align: center;
    width: 600px;
    word-wrap: break-word;
}

.center {
    text-align: center;
}

@media only screen and (max-width: 480px) {
    .skills-bottom-sheet {
        // overflow: hidden;
        width: 100%;
        // word-wrap: break-word;
    }
  }