<div class="skills-bottom-sheet">
        <h1 class="center">Welche Skills hast Du heute benutzt?</h1>
        <h3>Achtsamkeit</h3>
          <mat-checkbox>Intuitives Wissen (wise mind)</mat-checkbox><br>
          <span>
                Bedeutet: Gefühl und Verstand in ein Gleichgewicht
                zu bringen, Intuitives Wissen und Verstehen
                anzuwenden.
        </span><br>
        <mat-checkbox>Wahrnehmen</mat-checkbox><br>
          <span>
                Bedeutet: Sich auf das einzulassen,
                was im Augenblick da ist. Das Kommen und Gehen
                Deiner Gedanken und Gefühle zu erleben, ohne
                darauf zu reagieren.
        </span><br>
        <mat-checkbox>Beschreiben</mat-checkbox><br>
        <span>
               Bedeutet: Worte für Deine Gedanken und
               Gefühle zu finden. Zu Benennen was Du erlebst.
      </span><br>
      <mat-checkbox>Teilnehmen</mat-checkbox><br>
        <span>
               Bedeutet: Aufzugehen im gegenwärtigen Moment.
               Aus Dir selbst heraus zu handeln ohne Verkrampfung oder
               Hemmungen. Zu erleben, ohne darüber nachzugrübeln, was gerade
               los ist.
      </span><br>
      <mat-checkbox>Annehmend (nicht bewertend)</mat-checkbox><br>
        <span>
               Bedeutet: die Situation wahrzunehmen, wie sie ist und zu akzeptieren.
               Die Situation nicht zu beurteilen und zu bewerten und sie nicht fest-
               halten zu wollen.
      </span><br>
      <mat-checkbox>Konzentriert</mat-checkbox><br>
        <span>
               Konzentriere Dich darauf, nur eine einzige Sache zu einem
               bestimmten Zeitpunkt zu tun - und nicht mehrere gleichzeitig.
               Hier und Jetzt. Jeder Moment ist neu, jeder Schritt findet im
               Hier und Jetzt statt.
      </span><br>
      <mat-checkbox>Wirkungsvoll</mat-checkbox><br>
      <span>
             Akzeptiere, dass die Situation so ist, wie sie ist, und nicht wie Du sie
             haben möchtest - und verhalte Dich entsprechend. Lass Gedanken wie 'Du müsstest'
             und 'Du solltest' sein.
    </span><br>

</div>        