$width: 230px;
$width-sm: 170px;

:host {
  display: block;
  width: $width;
  margin: 0 auto;
  img {
    width: $width;
  }
}

@media only screen and (max-width: 800px) {
    :host {
        display: block;
        width: $width-sm;
        margin: 0 auto;
        img {
          width: $width-sm;
        }
      }
  }