<mat-toolbar color="primary">
        <button mat-button class="app-menu-button" (click)="toggleSidenav()">
                <i class="material-icons">menu</i>
        </button>
    <span routerLink="/home" routerLinkActive="active">{{ 'HEADER.TITLE' | translate }}</span>
    <button mat-icon-button [mat-menu-trigger-for]="lanMenu">
                <mat-icon>language</mat-icon>
   </button>
   <button mat-icon-button *ngIf="isWellLived" routerLink="/manage-diary-entries" routerLinkActive="active">
    <mat-icon>star</mat-icon>
    </button>
    <button mat-icon-button *ngIf="isViewDiaryEntry" routerLink="/manage-diary-entries" routerLinkActive="active">
        <mat-icon>arrow_back</mat-icon>
        </button>
    <span class="space-between"></span>
    <button *ngIf="!isLoggedIn" mat-icon-button (click)="openLogin()">
            <mat-icon>account_circle</mat-icon>
    </button>
    <button *ngIf="isLoggedIn" mat-icon-button (click)="signout()">
            <mat-icon>power_settings_new</mat-icon>
    </button>
    <button mat-icon-button [mat-menu-trigger-for]="menu">
        <mat-icon>more_vert</mat-icon>
    </button>
</mat-toolbar>
<mat-menu x-position="before" #lanMenu="matMenu">
                <button mat-menu-item (click)="changeLang('us')" [class.selected]="selectedLanguage === 'us'">
                    <span class="flag-icon flag-icon-us"></span>
                American
                </button>
                    <button mat-menu-item (click)="changeLang('de')" [class.selected]="selectedLanguage === 'de'">
                <span class="flag-icon flag-icon-de"></span>
                    Deutsch
                </button>
                <button mat-menu-item (click)="changeLang('fr')" [class.selected]="selectedLanguage === 'fr'">
                <span class="flag-icon flag-icon-fr"></span>
                    Francais
                </button>
                <button mat-menu-item routerLink="/gratitude" routerLinkActive="active">
                <i class="material-icons align-icon" style="color:red;">
                        favorite
                </i>
                   {{ 'HEADER.GRATITUDE' | translate }}
                </button>
            </mat-menu>
<mat-menu x-position="before" #menu="matMenu">
    <button mat-menu-item routerLink="/affirmations">
        <i class="material-icons align-icon" style="color: violet;">
                sentiment_satisfied_alt
                </i>
        {{ 'HEADER.MENU.AFFIRMATIONS' | translate }}
        </button>
        <button mat-menu-item routerLink="/images">
                <i class="material-icons align-icon" style="color: indigo;">
                        image
                        </i>
        {{ 'HEADER.MENU.IMAGES' | translate }}
            </button>
    <button mat-menu-item routerLink="/more-mindfulness">
        <i class="material-icons align-icon" style="color: blue;">
                pregnant_woman
                </i>
        {{ 'HEADER.MENU.MINDFULNESS' | translate }}    
            </button>
    <button mat-menu-item routerLink="/emotions-regulation">
        <i class="material-icons align-icon" style="color: green;">
                stars
                </i>
        {{ 'HEADER.MENU.EMOTIONS' | translate }}
        </button>
        <button mat-menu-item routerLink="/relationships">
            <i class="material-icons align-icon" style="color: yellow;">
                    mobile_friendly
                    </i>
        {{ 'HEADER.MENU.RELATIONSHIPS' | translate }}
                </button>
    <button mat-menu-item routerLink="/stress-tolerance">
        <i class="material-icons align-icon" style="color: orange;">
                add_alarm
                </i>
        {{ 'HEADER.MENU.TOLERANCE' | translate }}        
    </button>
    <button mat-menu-item routerLink="/life-cards">
        <i class="material-icons align-icon" style="color: red;">
                directions_run
        </i>
           {{ 'HEADER.MENU.LIFECARDS' | translate }}
    </button>
    <button mat-menu-item routerLink="/superheroes-liked">
        <i class="material-icons align-icon" style="color:violet;">
            accessibility_new
        </i>
           {{ 'HEADER.MENU.HEROES' | translate }}
    </button>
</mat-menu>