<mat-toolbar color="primary">
        <button mat-button class="app-menu-button" (click)="toggleSidenav()">
                <i class="material-icons">menu</i>
        </button>
    <span routerLink="/home" routerLinkActive="active">{{ 'HEADER.TITLE' | translate }}</span>
    <button mat-icon-button [mat-menu-trigger-for]="lanMenu">
                <mat-icon>language</mat-icon>
   </button>
    <span class="space-between"></span>
    <button mat-icon-button [mat-menu-trigger-for]="menu">
        <mat-icon>more_vert</mat-icon>
    </button>
</mat-toolbar>
<mat-menu x-position="before" #lanMenu="matMenu">
                <button mat-menu-item (click)="changeLang('us')" [class.selected]="selectedLanguage === 'us'">
                    <span class="flag-icon flag-icon-us"></span>
                American
                </button>
                    <button mat-menu-item (click)="changeLang('de')" [class.selected]="selectedLanguage === 'de'">
                <span class="flag-icon flag-icon-de"></span>
                    Deutsch
                </button>
                <button mat-menu-item (click)="changeLang('fr')" [class.selected]="selectedLanguage === 'fr'">
                <span class="flag-icon flag-icon-fr"></span>
                    Francais
                </button>
                <button mat-menu-item routerLink="/gratitude" routerLinkActive="active">
                <i class="material-icons align-icon" style="color:red;">
                        favorite
                </i>
                   {{ 'HEADER.GRATITUDE' | translate }}
                </button>
            </mat-menu>
<mat-menu x-position="before" #menu="matMenu">
    <button mat-menu-item routerLink="/affirmations">
        <i class="material-icons align-icon">
                sentiment_satisfied_alt
                </i>
        {{ 'HEADER.MENU.AFFIRMATIONS' | translate }}
        </button>
        <button mat-menu-item routerLink="/images">
                <i class="material-icons align-icon">
                        image
                        </i>
        {{ 'HEADER.MENU.IMAGES' | translate }}
            </button>
    <button mat-menu-item routerLink="/more-mindfulness">
        <i class="material-icons align-icon">
                pregnant_woman
                </i>
        {{ 'HEADER.MENU.MINDFULNESS' | translate }}    
            </button>
    <button mat-menu-item routerLink="/emotions-regulation">
        <i class="material-icons align-icon">
                stars
                </i>
        {{ 'HEADER.MENU.EMOTIONS' | translate }}
        </button>
        <button mat-menu-item routerLink="/relationships">
            <i class="material-icons align-icon">
                    mobile_friendly
                    </i>
        {{ 'HEADER.MENU.RELATIONSHIPS' | translate }}
                </button>
    <button mat-menu-item routerLink="/stress-tolerance">
        <i class="material-icons align-icon">
                add_alarm
                </i>
        {{ 'HEADER.MENU.TOLERANCE' | translate }}        
            </button>
</mat-menu>