<mat-toolbar color="primary">
        <button mat-button class="app-menu-button" (click)="toggleSidenav()">
                <i class="material-icons">menu</i>
        </button>
    <span routerLink="/home" routerLinkActive="active">DBT Für Dich</span>
    <span class="space-between"></span>
    <button mat-icon-button [mat-menu-trigger-for]="menu">
        <mat-icon>more_vert</mat-icon>
    </button>
</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">
    <button mat-menu-item routerLink="/affirmations">
        <i class="material-icons align-icon">
                sentiment_satisfied_alt
                </i>
        Affirmationen</button>
        <button mat-menu-item routerLink="/images">
                <i class="material-icons align-icon">
                        image
                        </i>
                Bilder</button>
    <button mat-menu-item routerLink="/more-mindfulness">
        <i class="material-icons align-icon">
                pregnant_woman
                </i>
        Achtsamkeit</button>
    <button mat-menu-item routerLink="/emotions-regulation">
        <i class="material-icons align-icon">
                stars
                </i>
        Gefühle</button>
        <button mat-menu-item routerLink="/relationships">
            <i class="material-icons align-icon">
                    mobile_friendly
                    </i>
            Beziehungen</button>
    <button mat-menu-item routerLink="/stress-tolerance">
        <i class="material-icons align-icon">
                add_alarm
                </i>
        Toleranz</button>
</mat-menu>