<div class="background">
    <div class="gradient">
        <div class="container">
        
<div class="affirmations-div" [@enter1]>
        <mat-card class="affirmations-card mat-elevation-z8" (click)="navigateAffirmationen()" class="fancyMuliFont">
            <h3>Herzlich Willkommen in DBT Für Dich!</h3>
                <p>
                     Ich hoffe die Materialien in dieser Applikationen
                     werden Dir auch ermöglichen besser zu leben.
                     Zu einem schönen Leben, glücklich, fröhlich und frei.
                     Achtsamkeit, bewertungsfreie Wahrnehmung, radikale Akzeptanz....
                     Zu mehr und mehr angenehmen Gefühlen: 'Liebe, Freude, Lust, 
                     Stolz, Geborgenheit, Triumph'.
                     Den am Ende des Tages, gibt es nur noch Selbstliebe, Liebe zur Menschheit,
                     Liebe zu Gott, Liebe zu Menschen die Dir gut tun...
                     Gut Leben ist die beste Rache.
                </p>
                <h3>Möge die Kraft bei Dir sein!</h3>
        </mat-card>
</div>
    </div>
</div>