@import url("https://fonts.googleapis.com/css?family=Tangerine&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lacquer&display=swap");
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.app {
    height: 100vh; // emmet h100vh
  }

  .fancyTangerineFont {
    font-family: 'Tangerine', cursive !important;
    font-size: 48px !important;
    text-shadow: 4px 4px 4px #aaa;
  }

  .fancyLacquerFont {
    font-family: 'Lacquer', sans-serif !important;
    font-size: 48px !important !important;
    text-shadow: 4px 4px 4px #aaa;
  }

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

mat-card {
  margin: auto;
}

mat-toolbar-row {
  justify-content: space-between;
}

.error {
  color: red;
  font-size: 0.7rem;
  padding: 0.5rem;
}